h1 {
    color: rgb(212, 0, 255);
    }
    body {
        background-color: rgb(223, 219, 20);
        }

p{
  
    padding-left: 40px;
}
h2{
    width:560px;
}
iframe{
    clear: both;
}
.song{
    display:flex;
    align-items: center

}